<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{ symbol }}</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="/static/jquery-3.1.1.min.js"></script>
  <script src="/static/highstock/code/highstock.js"></script>
</head>
<body>
  <h1>{{ symbol }} Stock Report</h1>
  <div id="all-prices"></div>
  <div id="return-distribution"></div>
</body>
<script>
  $(function () {
    $.getJSON('prices?symbol={{ symbol }}', function (data) {
      console.log(data);

      // Prepare data
      var len = data.length,
          ohlc = [],
          volume = [],
          i;

      for (i = 0; i < data.length; i += 1) {
        ohlc.push([
          data[i].date,
          data[i].open,
          data[i].high,
          data[i].low,
          data[i].close
        ]);
        volume.push([
          data[i].date,
          data[i].volume,
        ]);
      }

      // Plot prices
      Highcharts.stockChart('all-prices', {
        rangeSelector: {
          selected: 1
        },
        title: {
          text: '{{ symbol }} Stock Price'
        },
        yAxis: [{
          labels: {
            align: 'right',
            x: -3
          },
          title: {
            text: 'OHLC'
          },
          height: '60%',
          lineWdth: 2
        }, {
          labels: {
            align: 'right',
            x: -3
          },
          title: {
            text: 'Volume'
          },
          top: '65%',
          height: '35%',
          offset: 0,
          lineWidth: 2
        }],
        series: [{
          type: 'candlestick',
          name: '{{ symbol }}',
          data: ohlc,
          tooltip: {
            valueDecimals: 2
          }
        }, {
          type: 'column',
          name: 'Volume',
          data: volume,
          yAxis: 1,
        }]
      });

      function histogram(data, step) {
        var hist = {},
            x,
            i,
            arr = [];

        for (i = 0; i < data.length; i++) {
          x = Math.floor(data[i]['log_return'] / step) * step;
          if (!hist[x]) {
            hist[x] = 0;
          }
          hist[x]++;
        }

        for (x in hist) {
          if (hist.hasOwnProperty((x))) {
            arr.push([parseFloat(x), hist[x]]);
          }
        }

        arr.sort(function(a, b) {
          return a[0] - b[0];
        })

        return arr;
      }

      // Plot distribution of returns
      Highcharts.chart('return-distribution', {
        chart: {
          type: 'column',
        },
        title: {
          text: '{{ symbol }} Return Distribution (Logarithmic Returns)'
        },
        xAxis: {
          gridLineWidth: 1
        },
        yAxis: [{
          title: {
            text: 'Histogram Count',
          },
        }],
        series: [{
          name: 'Histogram',
          type: 'column',
          data: histogram(data, 0.001),
          pointPadding: 0,
          groupPadding: 0,
          pointPlacement: 'between',
        }]
      })
    })
  })
</script>
</html>
