<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
  <h1>trady simulation #{{ simulation_id }}</h1>
  <h2>Summary</h2>
  <table border="1">
    <tr>
      <th>Symbol</th>
      <td>{{ symbol }}</td>
    </tr>
    <tr>
      <th>Strategy</th>
      <td>{{ strategy.name }}</td>
    </tr>
    <tr>
      <th>Strategy description</th>
      <td>{{ strategy.description }}</td>
    </tr>
    <tr>
      <th>Price history</th>
      <td>{{ price_history.source_url }}</td>
    </tr>
    <tr>
      <th>Price history range</th>
      <td>{{ price_history.first_date }} - {{ price_history.last_date }}</td>
    <tr>
      <th>trady revision</th>
      <td>{{ trady_revision }}</td>
    </tr>
  </table>

  <h2>Simulation</h2>
  ...

  <h2>Price history</h2>
  The prices were taken from {{ source_url }}.
  <img src="{{ all_prices_chart }}">
  Here's a short summary of the dataset:
  {{ price_history.description_as_html | safe }}
</body>
</html>
