<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
  <h1>trady simulation #{{ simulation_id }}</h1>
  <h2>Summary</h2>
  <table border="1">
    <tr>
      <th>Symbol</th>
      <td>{{ symbol }}</td>
    </tr>
    <tr>
      <th>Strategy</th>
      <td>{{ strategy.name }}</td>
    </tr>
    <tr>
      <th>Strategy description</th>
      <td>{{ strategy.description }}</td>
    </tr>
    <tr>
      <th>Price history</th>
      <td>{{ source_url }}</td>
    </tr>
    <tr>
      <th>trady revision</th>
      <td>{{ trady_revision }}</td>
    </tr>
  </table>

  <h2>Simulation</h2>
  ...

  <h2>Price history</h2>
  The prices were taken from {{ source_url }}.
  <img src="{{ chart_all_prices_image }}">
  Here's a short summary of the dataset:
  {{ raw_description }}

  And here are the raw prices:
  {{ raw_values }}
  </ul>
</body>
</html>
